# Logs
logs
*.log
npm-debug.log*

# Dependências / build
node_modules
dist
dist-ssr
*.local

# IDE / Editor
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.swp
*.swo
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Variáveis de Ambiente
.env*
!.env.example

# TypeScript
*.tsbuildinfo