.to-do-list {
    width: 35%;
    margin: 0 auto;
}

.accordion-style {
    width: 100%;
    padding: 10px;
}

.items-list {
    margin-bottom: 15px;
    margin-left: 4%;
    margin-right: 4%;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

