.to-do-list {
    display: flex;
    justify-content: center;
    align-items: stretch;
    /*max-height: 750px;*/
    width: 35%;
    margin: 0 auto;
}

.accordion-style {
    width: 100%;
    padding: 10px;
}

.items-list {
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
}

