.modal-style {
    width: 40%;
    height: 50%;
    padding: 2em;
    margin: 10% 30%;
    position: absolute;
    z-index: 1400;
    boxShadow: 0;
    position: absolute;
    /*transform: translate(-50%, -50%);*/
    width: 400;

}